body {
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: inherit;
}

.app {
    &__wrap {
        display: flex;
    }

    &__calendar {
        margin-right: 50px;
    }
}

.calendar {
    width: 180px;

    &__month-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__head {
        margin-bottom: 10px;
    }

    &__day,
    &__weekday {
        width: 25px;
        height: 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &__day {
        cursor: pointer;
        transition: background 0.25s ease-in-out;
        background: none;
        outline: none;
        border: none;
        font-size: 16px;

        &:hover {
            background: #d0dcfd;
        }

        &--selected {
            background: #d0dcfd;
        }

        &--inrange {
            background: rgba(#d0dcfd, 0.6);
        }
    }

    &__month-name {
        white-space: nowrap;
        text-transform: capitalize;
    }

    &__control {
        width: 20px;
        height: 20px;
        display: block;
        padding: 0;
        background: url('assets/icons//icon-arrow.svg') no-repeat center;
        border: none;
        cursor: pointer;
        outline: none;

        &--prev {
            transform: rotate(180deg);
        }
    }
}
