.calendar {
    width: 180px;

    &__month-wrap {
        display: flex;
        justify-content: space-between;
    }

    &__day {
        width: 25px;
        height: 25px;
        display: inline-flex;
    }

    &__weekday {
        width: 25px;
        height: 25px;
        display: inline-flex;
    }

    &__month-name {
        white-space: nowrap;
        text-transform: capitalize;
    }
}